.footer-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;

    
    .clear-all-dark{
        margin-left: 20px;
        padding: 5px 5px;
        border: 0px;
        border-radius: 5px;
        background-color: rgb(255, 64, 64);
        color: white;
    }
    .clear-all-light{
        margin-left: 20px;
        padding: 5px 5px;
        border: 0px;
        border-radius: 5px;
        background-color: rgb(253, 159, 159);
        color: white;
    }
}