@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  
}


.wrapper {
  margin: 120px auto;
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
  0 4px 2px rgba(0,0,0,0.09), 
  0 8px 4px rgba(0,0,0,0.09), 
  0 16px 8px rgba(0,0,0,0.09),
  0 32px 16px rgba(0,0,0,0.09);
}
